/**
 * Style dédié au bloc de contacts périphériques - page contact
 */


.aside-contacts {
  letter-spacing: -.31em;
  margin-bottom: 25px;

  border-top: 1px solid #d4d4d4; border-bottom: 1px solid #d4d4d4;
}

.aside-contact__wrapper {
  display: inline-block;
  height: 213px; width: 25%;
  padding: 15px;

  vertical-align: middle;
  letter-spacing: normal;
  background-color: #ffffff;
}

.aside-contact__wrapper:nth-child(2n+3), .aside-contact__wrapper:nth-child(2n+4) {
  border-top: 1px solid #d4d4d4;
}
.aside-contact__wrapper:nth-child(odd) { border-left: 1px solid #d4d4d4; border-right: 1px solid #d4d4d4; }
.aside-contact__wrapper:nth-child(even) { border-right: 1px solid #d4d4d4; }

.aside-contact__icon {
  height: 120px; width: auto;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70px 60px, contain;
}
.icon--partners {
  background-image: url("../fonts/partners.svg"), url("../fonts/circle_gradient.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 85px 85px, contain;
}

.icon--press {
  background-image: url("../fonts/press.svg"), url("../fonts/circle_gradient.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70px 60px, contain;
}
.icon--register {
  background: url("../fonts/register.svg"), url("../fonts/circle_gradient.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70px 60px, contain;
}
.icon--offers {
  background: url("../fonts/offers.svg"), url("../fonts/circle_gradient.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70px 60px, contain;
}

/* Liens */
.aside-contact__link { text-decoration: none; }
.aside-contact__link:hover .aside-contact__title,
.aside-contact__link:focus .aside-contact__title  { color: #931A3E; }

.aside-contact__title {
  display: block;
  padding: 15px;

  text-align: center;
  font-family: "Century Gothic", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 21px;
  color: #000;
}

/***************************************************************/
/*                        MEDIA QUERIES                        */
/***************************************************************/

@media all and (max-width: 1024px) {
  .aside-contact__wrapper { width: 50%; }

  .aside-contact__title {
    padding-top: 15px;

    font-size: 0.875rem;
    line-height: 17px;
  }
}
