/**
 * Style dédié aux blocs de téléchargement du catalogue
 */

.block__slogan {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: initial;
}

.block__text {
  margin-top: 10px;
  font-family: "Gothic", sans-serif;
  font-size: 14px;
  line-height: 20px;
}


/*----------  Variantes de blocs  ----------*/

/* Bloc contactez un revendeur */
.block__container--reseller {
  min-height: 180px;
  letter-spacing: -.31em;
}

.block__container--reseller .block__img,
.block__container--reseller .block__content-wrapper,
.block__container--reseller .block__content,
.block__container--reseller .block__btn {
  letter-spacing: normal;
  vertical-align: middle;
}

.block__container--reseller .block__img {
  max-width: 300px; max-height: 180px;
  width: 32%;
}
.block__container--reseller .block__content-wrapper {
  width: 68%;
  padding-left: 30px;
  padding-right: 10px;
}

.block__container--reseller .block__content {
  width: 50%;
  margin-right: 20px;
}

/* Bloc téléchargement de catalogue */

.block__container--brochure {
  position: relative;
  min-height: 230px;
  padding: 0px 55px 0px;
  overflow: hidden;
  z-index: 1;

}

.block__container--brochure {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;

  background-image: url("../images/brochure.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 50%;
}

.block__container--brochure .block__inner {
  -webkit-align-self: center;
  align-self: center;
  padding: 30px 0;
}

.block__container--brochure .block__slogan {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 10px;
  width: 68%;
  font-family: "GothicBold", sans-serif;
}
.block__container--brochure .block__content {
  font-size: 13px;
  line-height: 19px;
  width: 58%;
  font-family: "Gothic", sans-serif;
}

.block__container--brochure .block__text { width: 50%; }


/***************************************************************/
/*                        MEDIA QUERIES                        */
/***************************************************************/

/* MOBILE */
@media all and (max-width: 960px) {
  /* Bloc contactez un revendeur */
  .block__container--reseller .block__img-wrapper {
    margin-left: auto; margin-right: auto;
  }
  .block__container--reseller .block__img {
    width: 100%;
    margin-left: auto; margin-right: auto;
  }
  .block__container--reseller .block__content-wrapper {
    width: 75%;
    margin-left: auto; margin-right: auto;
    padding: 20px;
  }
  .block__container--reseller .block__content {
    width: 100%;
    margin-right: 0; margin-bottom: 20px;
  }
  .block__container--reseller .block__btn {
    width: 100%;
  }
}

/* TABLETTE */
@media all and (min-width: 426px) and (max-width: 992px) {
  .block__container--brochure {
    background-size: 50%;
    background-position: right center;
  }
  .block__container--brochure .block__content {
    width: 45%;
  }
}

/* MOBILE */
@media all and (max-width: 425px) {

  /* Bloc téléchargement de catalogue */
  .block__container--brochure {
    display: block;
    background-color: #4b4b4b;
    min-height: 485px;
    padding: 30px 30px 45px;

    background-position: bottom center;
    background-size: 300px;
    background-position-y: 144%;
  }
  .block__container--brochure .block__text { width: 100%; }

  .block__container--brochure .block__slogan, .block__container--brochure .block__content { width: auto; }

  /* Bloc contactez un revendeur */
  .block__container--reseller .block__content-wrapper { width: 100%; }

  .block__container--brochure .block__content {
    line-height: 22px;
  }
}

@media all and (max-width: 425px) {

  /* Bloc téléchargement de catalogue */
  .block__container--brochure {
    min-height: 420px;
  }
}
