/**
 * Styles spécifiques à la carte de la page Contact
 */

.office-map {
  width: 100%; height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ffffff;
  background-position: center center;
}

/* zone active */
.office-map__img .highlight path { fill: #931A3E; }
