/**
 * Style dédié aux éléments de structure des templates
 */

.contactFull header.clearfix.term-listing-heading.marketHead {
  display: block;
  margin-bottom: 0;
}

/* Style the tab */
.contact-tabs {
  padding-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.contact-tabs__title {
  max-width: 66%;
  font-family: "GothicBold", sans-serif;
  font-size: 18px;
  color: #201C1D;
  margin-bottom: 15px;
  padding-top: 10px;
}

/* Style the buttons that are used to open the tab content */
.contact-tab__list {
  position: relative;
  border: 1px solid #d8d8d8;
  margin-bottom: 25px;
}
.contact-tab__list.hide .contact-tab__item { display: none; }

.contact-tab__list.hide .contact-tab__item.active { display: block; }

.contact-tab__list:after {
  content: '';
  position: absolute;
  display: block;
  width: 12px; height: 22px;
  top: 20px; right: 20px;
  background: url(../fonts/readMoreTabs.svg) center center no-repeat;
  transform: rotate(90deg);
}


.contact-tab__list.show .contact-tab__item {
  display: block;
  height: auto;
}


.contact-tab__item {
  position: relative;
  width: 100%; height: auto;

  vertical-align: middle;
  background-color: #d8d8d8;
  transition: all ease-in-out .1s;
}

.contact-tab__link {
  display: block;
  padding: 20px;
  font-family: "Century Gothic", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: normal;
  color: #000;
  text-decoration: none;
}

.contact-tab__link:hover, .contact-tab__link:focus { color: #931A3E; }



@media all and (min-width: 385px) {
  .contact-tabs {
    padding-top: 110px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .contact-tabs__title { max-width: none; }
}

@media all and (min-width: 480px) {}

@media all and (min-width: 769px) {
  /* Style the tab */
  .contact-tabs {
    padding-top: 0;
    margin-bottom: 50px;
  }

  .contact-tabs__title { display: none; }
  .contact-tab__list {
    border: none;
    margin-bottom: 0;
  }
  .contact-tab__list:after { content: none; }

  .contact-tab__list.hide .contact-tab__item,
  .contact-tab__list.hide .contact-tab__item.active { display: inline-block; }

  .contact-tab__item {
    display: inline-block;
    width: 200px; height: 80px;
    margin-right: 10px;
    padding: 0 25px;

    border: 1px solid #bfbfbf;
  }
  .contact-tab__item.active { display: inline-block; }


  .contact-tab__link {
    padding: 0 25px;

    font-size: 17px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;

    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    width: 100%;
    height: 100%;
    -ms-flex-align: center;
    -webkit-align-self: center;
    align-items: center;
  }

  .contact-tab__item.active .contact-tab__link { color: #931A3E; }

  /* Block with bottom arrow */
  .contact-tab__item:hover, .contact-tab__item:focus, .contact-tab__item.active {
    border: 1px solid #931A3E;
    background-color: #fff;
  }


  .contact-tab__item:after, .contact-tab__item:before {
    content: " ";
    position: absolute;
    height: 0; width: 0;
    top: 100%; left: 50%;
    border: solid transparent;
    pointer-events: none;
  }

  .contact-tab__item:hover:after, .contact-tab__item.active:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 12px;
    left: 50%;
    transform: translateX(-50%);
  }
  .contact-tab__item:hover:before, .contact-tab__item.active:before {
    border-color: rgba(209, 0, 35, 0);
    border-top-color: #931A3E;
    border-width: 13px;
    margin-left: -13px;
  }
}