/**
 * Classes helpers pour les boutons
 */

/* Boutons - attributs par défaut */
.btn {
  position: relative;
  display: block;
  width: auto; height: 61px;
  padding: 0 27px;

  z-index: 1;
  font-family: "Gothic", sans-serif;
  font-size: 16px;
  line-height: normal!important;
  text-decoration: none;
  border: none;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  -ms-flex-align: center;
  -webkit-align-self: center;
  align-items: center;
}

.btn:hover {
  cursor: pointer;
}

.btn--big {
  max-width: 285px; height: 63px !important;
  line-height: normal!important;
}

/* bouton large */
.btn--wide {
  max-width: 425px; height: 83px !important;
}

/*----------  Variantes de positions  ----------*/

.btn--left {
  padding: 0 25px 0 65px;
}
.btn--right {
  padding: 0 65px 0 25px;
}

/*----------  Variantes de couleurs  ----------*/

.btn--black {
  background: #464646 linear-gradient(#5c5c5c, #050505) 0 0 repeat-x !important;
  background-size: contain !important;
  color: #FFFFFF !important;
}
.btn--black:hover {
  background: #931A3E linear-gradient(#931A3E, #931A3E) 0 0 repeat-x !important;
  background-size: contain !important;
}

.btn--green {
  background: #00d88c linear-gradient(#00e291, #03a36f) 0 0 repeat-x !important;
  background-size: contain !important;
  color: #FFFFFF !important;
}

.btn--green:hover {
  background: #00d88c linear-gradient(#03a36f, #00e291) 0 0 repeat-x !important;
  background-size: contain !important;
}

.btn--grey {
  background: #dbdbdb url(../images/buttonPopinBig.png) left center repeat-x;
  background-size: contain !important;
  color: #201C1D !important;
}

.btn--grey:hover {
  color: #FFFFFF !important;
}


/*----------  Icons des boutons  ----------*/

.btn--icon {
  padding-right: 55px;
}

/* Icon du bouton - attributs par défaut */
.btn__icon {
  display: block;
  position: absolute;
  width: 28px; height: 28px;
  top: 50%;
  margin-top: -15px;
}

/* icon téléchargement */
.btn__icon--dwnld {
  background-image: url("../images/downloadSpot-black.png")!important;
  background-repeat: no-repeat;
  background-size: 28px !important;
}
.btn__icon--contact { background: url(../images/contactSpotGreen.png) center center no-repeat !important; }
/* icon à gauche */
.btn__icon--left { left: 20px !important; }
/* icon à droite */
.btn__icon--right { right: 15px !important; }

.btn--green .btn__icon--dwnld {
  background-image: url("../images/downloadSpot-green.png")!important;
}

.btn--lowercase {
  text-transform: none;
}

.btn--extra-big .btn__icon {
  width: 40px; height: 40px;
  margin-top: -20px;
  background-size: 40px !important;
}

@media screen and (min-width: 992px){
  .btn__icon--right { right: 20px !important; }
}

/*----------  Cas particulier de surcharge (désolée Hélène, j'ai fait du pas bô dans ton oasis de pureté <3  ----------*/

.footerButtons {
  grid-gap: 10px;
}

.footerButtons > a {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  -ms-flex-align: center;
  -webkit-align-self: center;
  align-items: center;
  margin-bottom: 10px;
}

.footerButtons > a.brochure {
  padding-top: 0;
}

.footerButtons > a.brochure:hover {
  background-image: none;
  background-image: linear-gradient(#dddddd, #cfcfcf);
}

.footerButtons a.popIn, .footerButtons a.contact {
  font-size: 13px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0!important;
  display: -webkit-box!important;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox!important;  /* TWEENER - IE 10 */
  display: -webkit-flex!important; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex!important;
  -ms-flex-align: center;
  -webkit-align-self: center;
  align-items: center;
  justify-content: center;
}

