/**
 * Styles spécifiques aux pages marchés V2
 */

/*  Override pour éviter régressions et surcharger class 'term-listing-heading'.
    Cette class se trouve en doublon car la page 'marchés' est une taxonomy (donc elle en hérite auto.),
    et la class est aussi utilisée sur header de l'article. */
.content > .term-listing-heading {
    padding-bottom: 0;
}
.market-app-page.taxonomy-term.vocabulary-marketv2 {
    padding: 0;
}

.vocabulary-marketv2 .applicationContent.testimonies {
    padding-top: 27px;
    padding-bottom: 27px;
}

.vocabulary-marketv2__resume {
    font-family: "Gothic", sans-serif;
    color: #736569;
    line-height: 15px;
    font-size: 12px;
    display: block;
    padding-top: 0;
    margin-top: 15px;
}

.view-markets .views-row:hover .taxonomy-term .content .vocabulary-marketv2__resume {
    opacity: 0;
}

/**
 * Chiffres clés
 */
.market-figures {
    display: table;
    border-collapse: separate;
    margin-bottom: 30px;
}
.market-figures__unit {
    display: table-cell;
    width: 50%;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.market-figures__container {
    display: table;
    width: 100%;
    margin-bottom: 40px;
    border: 1px solid #c2c2c2;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
    min-height: 115px;
}
.market-figures__unit:first-child .market-figures__container {
    margin-left: 0;
}
.market-figures__unit:last-child .market-figures__container {
    margin-right: 0;
}
.market-figures__figure {
    display: table-cell;
    width: 40%;
    min-width: 118px;
    vertical-align: middle;
    padding: 10px 0 10px 30px;
    font-size: 60px;
    font-family: "GothicBold", sans-serif;
    text-align: right;
    position: relative;
}
.market-figures__description {
    display: table-cell;
    width: 60%;
    vertical-align: middle;
    padding: 10px 25px;
    font-size: 15px;
}
.market-figures__figure::after {
    content: '';
    padding-right: 18px;
    border-right: 1px solid #c2c2c2;
}
.market-figures__figure::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    background: -moz-linear-gradient(top,  #ffffff 30%, transparent 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 30%,transparent 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 30%,transparent 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='transparent',GradientType=0 ); /* IE6-9 */
}

/**
 * Bloc Modes d'émissions de CB
 */

.content.emission-modes__container {
    margin-top: 20px;
    border: 1px solid #c2c2c2;;
    overflow: hidden;
    position: relative;
    background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
    height: 220px;
}

.emission-modes__title {
    font-family: "GothicBold", sans-serif;
    font-size: 18px;
}

/* Colonne gauche */
.applicationContent .emission-modes .leftColumn {
    width: 40%;
    /*border: 1px solid red;*/
    padding: 0;
    height: 220px;
    overflow: hidden;
}

/* Images */
.leftColumn.emission-modes__img img {
    width: 100%;
    height: 220px !important;
    position: static;
    object-fit: cover;
}

/* Colonne droite */
.applicationContent .emission-modes .rightColumn {
    width: 60%;
    line-height: 2em;
    overflow: hidden;
    background: none;
    margin-top: 0;
    padding: 0 10px;
}

/* Titre application + bloc actu-communiqué-presse */
.applicationContent .emission-modes .rightColumn h3 a,
.applicationContent .news-press-release .rightColumn h3 a,
.applicationContent .emission-modes .rightColumn h3 a:visited,
.applicationContent .news-press-release .rightColumn h3 a:visited {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.applicationContent .emission-modes .rightColumn h3 {
  margin-top:10px;
  margin-bottom: 5px;
}

/* Boutons 'En savoir plus' */
.applicationContent .emission-modes .black-link.black-link--arrow-2 {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

/**
 *  Bloc actualités et communiqués de presse
 */

/* Boutons 'Consultez nos actualités' et 'Consultez nos communiqués de presse'*/
.applicationContent .news-press-release .black-link--grey a {
    width: 100%;
    height: 62px;
    line-height: 62px;
    text-transform: uppercase;
    font-size: 16px;
    text-align: left;
    padding-left: 35px;
}

.applicationContent .news-press-release__container {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Images */
.applicationContent .leftColumn.news-press-release__img {
    height: 122px;
    width: 122px;
    overflow: hidden;
    /*display: inline-block;*/
    padding: 0;
}
.applicationContent .leftColumn.news-press-release__img img {
    width: auto;
    height: 100% !important;
    position: static;
    display: block !important; /* Override le display:none appliqué sur '.term-listing-heading img' */
}

/* Contenu texte */
.applicationContent .rightColumn.news-press-release__content {
    float: right;
    width: 300px;
    height: 122px;
    overflow: hidden;
    background: none;
    margin-top: 0;
}
.applicationContent .rightColumn.news-press-release__content h3 {
    margin-top: 5px;
    hyphens: auto;
    font-size: 15px;
    max-height: 46px;
    overflow: hidden;
}
.applicationContent .rightColumn.news-press-release__content p {
    font-size: 13px;
    line-height: 1.2em;
    max-height: 47px;
    overflow: hidden;
}

.news-press-release__description {}
.news-press-release__description-link {
    text-decoration: none;
    color: black;
}

/******** MEDIA QUERIES *******/

@media (max-width: 991px) {

    /* Images du bloc modes d'émissions */
    .applicationContent .emission-modes .leftColumn {
        width: 100%;
        height: 150px;
    }
    .applicationContent .leftColumn.emission-modes__img img {
        display: block;
        padding: 10px;
        transform: none;
        width: 100%;
    }

    /* Contenu texte bloc modes d'émissions */
    .applicationContent .emission-modes .rightColumn {
        width: 100%;
    }
    .applicationContent .emission-modes .rightColumn h3 {
        margin-bottom: 10px;
    }
    /* Bouton 'En savoir plus' */
    .applicationContent .emission-modes .black-link.black-link--arrow-2 {
        position: static;
        text-align: right;
        margin-bottom: 15px;
        margin-top: 5px;
    }

    /* Bloc actualités et communiqués de presse */
    .applicationContent .rightColumn.news-press-release__content {
        width: 100%;
    }

    .applicationContent .news-press-release .black-link--grey-arrow-circle {
        display: table;
    }
    .applicationContent .news-press-release .black-link--grey-arrow-circle a {
        font-size: 13px;
        padding-left: 15px;
        padding-right: 55px;
        line-height: 19px;
        display: table-cell;
        vertical-align: middle;
    }
    .applicationContent .news-press-release .black-link--grey-arrow-circle a:after {
        display: table-cell;
        right: 20px;
    }
    .applicationContent .rightColumn.news-press-release__content .tags {
        margin-top: 20px;
    }
    .applicationContent .rightColumn.news-press-release__content h3 {
        font-size: 1.2em;
        margin-top: 0px;
        max-height: none;
    }
}

@media (max-width: 767px) {

    /*  Override pour éviter régressions et surcharger class 'term-listing-heading'.
        Cette class se trouve en doublon car la page 'marchés' est une taxonomy (donc elle en hérite auto.),
        et la class est aussi utilisée sur header de l'article. */
    .market-app-page.vocabulary-marketv2 {
        padding: 23px 10px 0 !important;
    }

    .applicationContent .leftColumn.news-press-release__img {
        height: 112px;
        width: 112px;
    }

    .content.emission-modes__container {
        height: auto;
    }
}

@media (max-width: 480px) {

    /* Chiffres clés */
    .market-figures__unit {
        width: 100%;
        display: block;
    }
    .market-figures__container {
        margin-left: 0;
        margin-right: 0;
    }
    .market-figures__figure {
        font-size: 38px;
        padding-left: 10px;
    }
    .market-figures__description {
        padding: 10px 15px;
        font-size: 12px;
        line-height: 1.3em;
    }
}
