/**
 * Styles spécifiques aux modales
 */

/***************************************************************/
/*                       Modale par défaut                     */
/***************************************************************/
.white-modal {}
.white-modal .modal-content {
  padding: 30px 20px;
}
.white-modal .modal-header {
  background-color: transparent;
  color: black;
  margin-bottom: 30px;
}
.white-modal .modal-header h2 {
  margin-top: 0;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  font-size: 17px;
  text-transform: none;
  letter-spacing: 2px;
  line-height: normal;
}
.white-modal .modal-body {
  font-family: "Century Gothic", sans-serif;
  letter-spacing: 1px;
  margin: 0 auto;
  width: 80%;
}
.white-modal .modal-body label {
  margin-bottom: 4px;
}
.white-modal .modal-body input,
.white-modal .modal-body select {
  width: 100%;
  font-family: "Century Gothic", sans-serif;
  border: 1px solid #c4c4c2;
  border-radius: 3px;
  line-height: normal;
  font-size: 15px;
  padding: 8px 6px;
  margin-bottom: 20px;
}

.white-modal .modal-body #uniform-country {
  margin-bottom: 20px;
}
.white-modal .modal-body #uniform-country select {
}
.white-modal .modal-body #uniform-country span {
  color: #000;
  width: 100%;
  font-family: "Century Gothic", sans-serif;
  /*border: 1px solid black;*/
  border-radius: 3px;
  line-height: normal;
  font-size: 15px;
  padding: 8px 6px;
}
.white-modal .modal-body input[type="submit"] {
  background-color: #3f9e81;
  color: white;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Century Gothic", sans-serif;
  margin-top: 30px;
  padding: 15px 10px;
  border-radius: 6px;
  cursor: pointer;
}
.white-modam .modal-body .black-link {
  display: block;
  text-align: center;
}
.white-modal .close {
  position: absolute;
  top: 10px;
  right: 17px;
  color: black;
}
.white-modal p {
  margin-top: 20px;
  text-align: right;
}
#cboxContent iframe {
  width: 100%;
  height: 270px;
}

/* Surcharge webform pour masquer des input */
.form-astro-fill {
  display: none;
}


/***************************************************************/
/*                        MEDIA QUERIES                        */
/***************************************************************/
@media all and (max-width: 1024px) {}

@media only screen and (max-width: 960px) {

  .white-modal .modal-content { width: 70%; }
  .white-modal .modal-body { width: 100%; }
}

@media only screen and (max-width: 480px) {

  .white-modal .modal-content { width: 90%; }

}

